@quadTitleBg: #333;
@quadTitleColor: #fff;

@itemBg: lighten(@quadTitleBg, 25%);
@itemColor: #fff;
@itemHoverBg: #0e91d3;
@itemHoverColor: @itemColor;
@padding: 2px 5px;

.maslosoft-quad-menu{
	position: absolute;
	// min-width:100px;
	// min-height: 1px;
	background:red;
	display:none;
	white-space: nowrap;
	
	ul, li{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li{
		background: @itemBg;
		color: @itemColor;
		a{
			display: block;
			text-decoration: none;
			color: @itemColor;
			padding: @padding;
			&:hover{
				background: @itemHoverBg;
				color:@itemHoverColor;
			}
		}
	}
	
	.quad-title{
		color: @quadTitleColor;
		background: @quadTitleBg;
		padding: @padding;
	}
	
	// All quads
	.quad-0, .quad-1, .quad-2, .quad-3{
		// min-width: 100px;
		// min-height: 20px;
		background: blue;
		position: absolute;
	}
	
	// Right quads
	.quad-0, .quad-1{
		.quad-title{
			text-align: right;
			&:first-child{
				// margin-left:1em;
			}
		}
	}
	.quad-0{
		background: maroon;
		top: 0;
		left: 0;
	}
	.quad-1{
		background: olive;
		bottom: 0;
		left: 0;
		
	}
	
	// Left quads
	.quad-2, .quad-3{
		text-align: right;
		.quad-title{
			text-align: left;
		}
	}
	.quad-2{
		background: green;
		bottom: 0;
		right: 100%;
	}
	.quad-3{
		background: orange;
		top: 0;
		right: 100%;
	}
}