.maslosoft-quad-menu{
	position: absolute;
	width:100px;
	height: 1px;
	background:red;
	
	.quad-0, .quad-1, .quad-2, .quad-3{
		width: 100px;
		height: 20px;
		background: blue;
		position: absolute;
	}
	
	.quad-0{
		background: maroon;
		top: 0;
		left: 0;
	}
	.quad-1{
		background: olive;
		bottom: 0;
		left: 0;
	}
	.quad-2{
		background: green;
		bottom: 0;
		right: 100%;
	}
	.quad-3{
		bacground: orange;
		top: 0;
		right: 100%;
	}
}